<nav class="my-navbar navbar-fixed-top ">

  <h1>
    <%= link_to "Cocktail World", cocktails_path, :class => "navbar-brand  btn nav-item" %>
  </h1>
  <h2>
    <%= link_to "Add a Cocktail", new_cocktail_path, :class => "btn btn-outline-info nav-item"%>
  </h2>

</nav>
